@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

$font-1: "font-1", sans-serif;

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $font-1;
}

a {
    color: black;
}
